<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeatherChain</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">WeatherChain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Weather Data</a></li>
            <li class="nav-item active"><a class="nav-link" href="/watch">Block Watcher</a></li>
            <li class="nav-item"><a class="nav-link" href="/validate">Block Validation</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
    <h1 class="mt-5">Latest Weatherchain Block recorded on Mainchain</h1>
    <p class="lead">
        Block #: <span id="block_num"></span><br>
        Current Time: <span id="block_time"></span><br>
        Workchain Root Contract on Mainchain: <a href="<%= MAINCHAIN_EXPLORER_URL%>/address/<%= WORKCHAIN_ROOT_CONTRACT_ADDRESS%>" target="_blank"><%= WORKCHAIN_ROOT_CONTRACT_ADDRESS%></a><br>
        Tx: <a target="_blank" id="tx"></a><br>
        Hash: <span id="hash"></span><br>
        Parent Hash: <span id="parent_hash"></span><br>
        Tx Root: <span id="tx_root"></span><br>
        State Root: <span id="state_root"></span><br>
        sealer: <span id="sealer"></span><br>
    </p>

    </main>

    <footer class="footer">
    <div class="container">
        <span class="text-muted"></span>
    </div>
    </footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/WorkchainEventWatcher.proto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        let workchainEventWatcher = new WorkchainEventWatcher('<%= WORKCHAIN_ROOT_CONTRACT_ADDRESS%>',
                                '<%= MAINCHAIN_WEB3_PROVIDER_URL%>',
                                <%- JSON.stringify(WORKCHAIN_ROOT_ABI)%>);
        updateWatcher();
        setInterval(function(){
            updateWatcher();
         }, 10000);

         function updateWatcher() {
             workchainEventWatcher.getLatestRecordedHeader(function(results) {
                let data = results[0];
                let now = new Date(Date.now());
                $('#block_num').text(data.returnValues.height);
                $('#block_time').text(now.toString());
                $('#tx').text(data.transactionHash);
                $('#tx').attr('href','<%= MAINCHAIN_EXPLORER_URL%>/tx/' + data.transactionHash);
                $('#hash').text(data.returnValues.hash);
                $('#parent_hash').text(data.returnValues.parent_hash);
                $('#receipt_root').text(data.returnValues.receipt_root);
                $('#tx_root').text(data.returnValues.tx_root);
                $('#state_root').text(data.returnValues.state_root);
                $('#sunrise').text(data.returnValues.sunrise);
                $('#sealer').text(data.returnValues.sealer);
            });
         }
    });
</script>
</body>
</html>